node_modules
.env
dist
.prisma

/generated
coverage
.idea
.vscode
.DS_Store
*.log
*.tmp
*.bak       
/prisma/migrations
/prisma/schema.prisma
/prisma/seed.ts
/prisma/seed.js
/prisma/seed.sh
/prisma/seed.sql
/prisma/seed.py                             